body {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    font-family: 'Lato', serif;
    font-size: 1.2em;    
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.align-right {
    float: right;
    padding-left: 30px;
}

p {
    width: 100%;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a {
    text-decoration: none;
    color: #666;
}

a:visisted {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
    color: #000;
}
