html {
    background-color: #000000;
    color: #aaa;
}

body {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    font-family: 'Consolas', serif;
    font-size: 1.2em;    
    animation: fadein 1s;
    line-height: 1.4;
    -webkit-animation: fadein 1s;
}

.align-right {
    float: right;
    padding-left: 30px;
}

p {
    width: 100%;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #eee;
}

a:visisted {
    font-weight: bold;
    text-decoration: none;
    color: #ccc;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #ccc;
}
